<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/styles/style.css" />
      </head>
      <body>
        <h1>About Ruth Bader Ginsburg aka "The Notorious R.B.G."</h1>
        <img src="/images/notoRBG.jpg" class="photoNrbg" />
        <p>Ruth Bader Ginsburg, a legal luminary with a fierce spirit and a heart of gold, was a trailblazing force for justice. Born in Brooklyn in 1933, she was a pint-sized dynamo who shattered glass ceilings with every step she took. Dubbed the "Notorious RBG," Ruth fearlessly fought for gender equality during her illustrious career as a Supreme Court Justice.</p>
        <p>With her signature jabot and an arsenal of dissenting opinions, Ginsburg became an icon, inspiring generations to fight for their rights. Her razor-sharp intellect and unwavering determination made her a formidable force in the courtroom. Off-duty, she indulged in her love for opera and even showed off her hidden talent for rapping, making her all the more legendary.</p>
        <p>Beyond her legal prowess, Ruth's compassion was evident in her friendships across political divides, emphasizing the importance of empathy. She had an unyielding commitment to her work, often staying up late into the night poring over cases.</p>
        <p>Ruth Bader Ginsburg's legacy as a champion of justice and gender equality will forever resonate. Even in her absence, her indomitable spirit continues to inspire countless individuals to fight for a better, more equitable world.</p>
     
        <footer>
            <a href="/home"> Go to homepage</a>
            <a href="/works"> Notable Work</a>
        </footer>
      </body>
</html>