<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Notable Work</title>
        <link rel="stylesheet" href="/styles/style.css" />
      </head>
      <body>
        <h1>Notable Work</h1>
        <p> + Equal Pay Act of 1963: Ginsburg co-founded the Women's Rights Project at the ACLU, where she played a crucial role in the passage of this landmark legislation. The act prohibits wage discrimination based on gender, ensuring fair pay for women in the workforce.</p>
        <p> + Civil Rights Act of 1964: As a key advocate, Ginsburg fought to include a clause in the act that prohibited sex-based discrimination. This addition was instrumental in advancing gender equality in areas like employment and education.</p>  
        <p> + Reproductive Rights Advocacy: Throughout her career, Ginsburg ardently defended a woman's right to choose, advocating for reproductive rights and access to contraception, notably in cases like Planned Parenthood v. Casey and Whole Woman's Health v. Hellerstedt.</p>
        <P> + Lilly Ledbetter Fair Pay Act of 2009: In a significant legislative victory, Ginsburg's dissent in Ledbetter v. Goodyear Tire & Rubber Co. prompted Congress to pass this act, easing the statute of limitations for filing pay discrimination lawsuits and bolstering pay equity protections.</p>            
        <img src="/images/workRBG.jpg" class="workRBG" />
        <footer>
            <a href="/about"> About RBG</a>
            <a href="/home"> Go to homepage</a>
        </footer>
      </body>
</html>